@font-face {
  font-family: MrsEavesItalic;
  font-style: italic;
  src: url("../font/Mrs Eaves OT Roman.otf") format("opentype"); }
@font-face {
  font-family: SagoeWPNsemiBold;
  src: url("../font/SegoeWP-Semibold.ttf") format("truerype"); }
@font-face {
  font-family: SagoeWPNLight;
  src: url("../font/SegoeWP-Light.ttf") format("truerype"); }
header {
  background: url("../img/bg_header.jpg") no-repeat;
  background-size: 100%;
  height: 490px; }
  header .navbar-default {
    background: transparent;
    border: none; }
  header .navbar-nav {
    margin-top: 40px; }
  header .navbar-brand {
    font-family: MrsEavesItalic;
    font-style: italic;
    font-size: 118px;
    color: #b7bbbd;
    margin-top: 55px; }
  header li {
    margin-right: 70px;
    font-family: Arial;
    font-size: 22px;
    color: #fff; }
  header .carousel .carousel-inner .item {
    margin-top: 75px;
    margin-left: 100px; }
    header .carousel .carousel-inner .item img {
      margin-left: 110px; }
    header .carousel .carousel-inner .item h1 {
      font-family: SagoeWPNsemiBold;
      font-size: 64px;
      color: #fff;
      margin-top: 40px;
      margin-bottom: 0; }
    header .carousel .carousel-inner .item h2 {
      font-family: SagoeWPNLight;
      font-size: 45px;
      color: #fff;
      margin-top: 0; }
    header .carousel .carousel-inner .item button {
      font-family: SagoeWPNLight;
      font-size: 22px;
      font-weight: 200;
      color: #fff;
      background: #185e3d;
      border: 3px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      width: 140px;
      height: 40px; }
  header .carousel .carousel-control {
    background: transparent; }
    header .carousel .carousel-control span {
      margin-top: 150px;
      border: 2px solid rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      font-size: 30px;
      width: 40px;
      height: 40px; }
    header .carousel .carousel-control .fa-caret-right {
      padding-top: 5px;
      padding-left: 5px; }
    header .carousel .carousel-control .fa-caret-left {
      padding-top: 5px;
      padding-left: 5px;
      letter-spacing: 10px; }

.tabs {
  margin-top: 50px; }
  .tabs .tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }
    .tabs .tab-content .tablet {
      position: relative;
      height: 350px;
      margin-top: 50px;
      left: 150px;
      top: 0; }
      .tabs .tab-content .tablet img {
        position: absolute;
        left: 80px;
        top: 40px;
        z-index: 1; }
      .tabs .tab-content .tablet img + img {
        left: 0;
        top: 0;
        z-index: 0; }
    .tabs .tab-content .text-pane {
      position: relative;
      left: 0;
      top: 0; }
  .tabs .nav-tabs {
    padding: 0 2px 0 2px;
    border-bottom: none; }
    .tabs .nav-tabs .nav-tabs.active {
      margin-bottom: -5px;
      padding-top: 5px; }
    .tabs .nav-tabs .nav-tabs.active a {
      border-bottom: 5px solid #fff; }
    .tabs .nav-tabs li {
      text-align: center;
      margin-bottom: -1px; }
      .tabs .nav-tabs li .blue {
        background: #6598e6; }
      .tabs .nav-tabs li .blue.hexahedron::before {
        border-bottom-color: #6598e6; }
      .tabs .nav-tabs li .blue.hexahedron::after {
        border-top-color: #6598e6; }
      .tabs .nav-tabs li .yellow {
        background: #fdcf0a; }
      .tabs .nav-tabs li .yellow.hexahedron::before {
        border-bottom-color: #fdcf0a; }
      .tabs .nav-tabs li .yellow.hexahedron::after {
        border-top-color: #fdcf0a; }
      .tabs .nav-tabs li .green {
        background: #12b367; }
      .tabs .nav-tabs li .green.hexahedron::before {
        border-bottom-color: #12b367; }
      .tabs .nav-tabs li .green.hexahedron::after {
        border-top-color: #12b367; }
      .tabs .nav-tabs li .orange {
        background: #e67624; }
      .tabs .nav-tabs li .orange.hexahedron::before {
        border-bottom-color: #e67624; }
      .tabs .nav-tabs li .orange.hexahedron::after {
        border-top-color: #e67624; }
      .tabs .nav-tabs li .hexahedron {
        height: 80px;
        width: 140px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px; }
        .tabs .nav-tabs li .hexahedron span {
          color: #fff;
          font-size: 80px; }
      .tabs .nav-tabs li .hexahedron::before {
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        border-bottom: 40px solid; }
      .tabs .nav-tabs li .hexahedron::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        border-top: 40px solid; }
      .tabs .nav-tabs li h3 {
        text-align: center; }

.tab-pane {
  padding: 30px 50px 30px 50px; }

.whychoose {
  padding-top: 50px; }
  .whychoose .browser {
    position: relative;
    height: 450px; }
    .whychoose .browser img {
      position: absolute;
      left: 0;
      top: 0; }
    .whychoose .browser img + img {
      position: absolute;
      left: 18px;
      top: 70px; }
  .whychoose .descript {
    overflow-x: visible;
    white-space: nowrap; }
    .whychoose .descript ul {
      list-style-position: inside;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1.5em; }
      .whychoose .descript ul li {
        margin-top: .3em; }
      .whychoose .descript ul li::before {
        content: '\f058';
        font-family: FontAwesome;
        color: #e67624;
        font-size: 1em;
        margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
