@font-face {
  font-family: MrsEavesItalic;
  font-style: italic;
  src: url("../font/Mrs Eaves OT Roman.otf") format("opentype"); }
@font-face {
  font-family: SagoeWPNsemiBold;
  src: url("../font/SegoeWP-Semibold.ttf") format("truerype"); }
@font-face {
  font-family: SagoeWPNLight;
  src: url("../font/SegoeWP-Light.ttf") format("truerype"); }
html {
  margin: 0 auto; }

body {
  margin: 0 auto; }

header {
  background: url("../img/bg_header.jpg") no-repeat;
  -webkit-background-size: 100% 335%;
  background-size: 100% 335%;
  margin: 0 auto;
  max-width: 1366px;
  height: 485px;
  padding-bottom: 50px;
  overflow: visible; }
  header .navbar-default {
    background: transparent;
    border: none; }
  header .navbar-nav {
    margin-top: 40px; }
  header .navbar-collapse {
    margin-top: 20px;
    position: absolute;
    right: 0;
    z-index: 100;
    width: 100%; }
    header .navbar-collapse ul {
      margin-top: 20px;
      margin-right: 50px; }
      header .navbar-collapse ul li {
        font-size: 20px;
        margin-right: 40px;
        color: #fff; }
      header .navbar-collapse ul li:hover {
        padding: 3px;
        text-shadow: 0 4px 15px #0b05e7;
        border-radius: 10px;
        background: radial-gradient(#0b05e7 30%, transparent); }
      header .navbar-collapse ul li:active {
        text-shadow: 0 4px 15px #e24228;
        padding: 3px;
        text-shadow: 0 4px 15px #e24228;
        border-radius: 10px;
        background: radial-gradient(#e24228 30%, transparent); }
  header .navbar-header button {
    margin-top: 50px; }
  header #brand {
    font-family: MrsEavesItalic;
    font-style: italic;
    font-size: 8em;
    color: #b7bbbd;
    margin-top: 55px;
    margin-left: 0; }
  header li {
    font-family: Arial;
    font-size: 1em;
    color: #fff; }
  header .carousel .carousel-indicators {
    bottom: -33%; }
  header .carousel .carousel-inner {
    margin-top: 85px; }
    header .carousel .carousel-inner .item img {
      float: right; }
    header .carousel .carousel-inner .item h1 {
      font-family: SagoeWPNsemiBold;
      color: #fff;
      margin-top: 10%;
      margin-bottom: 0; }
    header .carousel .carousel-inner .item h2 {
      font-family: SagoeWPNLight;
      color: #fff;
      margin-top: 0; }
    header .carousel .carousel-inner .item button {
      font-family: SagoeWPNLight;
      font-weight: 200;
      color: #fff;
      background: #185e3d;
      border: 3px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      min-width: 140px;
      min-height: 40px; }
  header .carousel .carousel-control {
    background: transparent; }
    header .carousel .carousel-control span {
      margin-top: 150px;
      border: 4px solid rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      font-size: 1.5em;
      width: 40px;
      height: 40px; }
    header .carousel .carousel-control .fa-caret-right {
      padding-top: 2px;
      padding-left: 13px;
      letter-spacing: 10px; }
    header .carousel .carousel-control .fa-caret-left {
      padding-top: 1px;
      padding-left: 7px;
      letter-spacing: 10px; }

.tabs {
  margin-top: 50px; }
  .tabs .tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }
    .tabs .tab-content .tablet {
      position: relative;
      height: 350px;
      margin-top: 50px;
      top: 0; }
      .tabs .tab-content .tablet img {
        position: absolute;
        left: 10%;
        top: 10%;
        z-index: 1; }
      .tabs .tab-content .tablet img + img {
        left: 0;
        top: 0;
        z-index: 0; }
    .tabs .tab-content .text-pane {
      position: relative;
      left: 0;
      top: 0; }
  .tabs .nav-tabs {
    padding: 0 2px 0 2px;
    border-bottom: none; }
    .tabs .nav-tabs .nav-tabs.active {
      margin-bottom: -5px;
      padding-top: 5px; }
    .tabs .nav-tabs .nav-tabs.active a {
      border-bottom: 5px solid #fff; }
    .tabs .nav-tabs li {
      box-sizing: border-box;
      text-align: center;
      margin-bottom: -1px; }
      .tabs .nav-tabs li a {
        padding: 0; }
      .tabs .nav-tabs li .blue {
        background: #6598e6; }
      .tabs .nav-tabs li .blue.hexahedron::before {
        border-bottom-color: #6598e6; }
      .tabs .nav-tabs li .blue.hexahedron::after {
        border-top-color: #6598e6; }
      .tabs .nav-tabs li .yellow {
        background: #fdcf0a; }
      .tabs .nav-tabs li .yellow.hexahedron::before {
        border-bottom-color: #fdcf0a; }
      .tabs .nav-tabs li .yellow.hexahedron::after {
        border-top-color: #fdcf0a; }
      .tabs .nav-tabs li .green {
        background: #12b367; }
      .tabs .nav-tabs li .green.hexahedron::before {
        border-bottom-color: #12b367; }
      .tabs .nav-tabs li .green.hexahedron::after {
        border-top-color: #12b367; }
      .tabs .nav-tabs li .orange {
        background: #e67624; }
      .tabs .nav-tabs li .orange.hexahedron::before {
        border-bottom-color: #e67624; }
      .tabs .nav-tabs li .orange.hexahedron::after {
        border-top-color: #e67624; }
      .tabs .nav-tabs li h3 {
        text-align: center; }

.tab-pane {
  padding: 30px 50px 30px 50px; }

.whychoose {
  padding-top: 50px; }
  .whychoose .browser {
    background: url("../img/browser.png") no-repeat;
    background-size: 100% 100%;
    height: 265px; }
    .whychoose .browser img {
      margin-top: 15%;
      margin-left: 0;
      height: 75%;
      width: 100%; }
  .whychoose .descript ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; }
    .whychoose .descript ul li {
      margin-top: .3em; }
    .whychoose .descript ul li::before {
      content: '\f058';
      font-family: FontAwesome;
      color: #e67624;
      font-size: 1em;
      margin-right: 10px; }

@media screen and (max-width: 1200px) {
  .carousel .carousel-inner h1 {
    font-size: 24px; }
  .carousel .carousel-inner h2 {
    font-size: 14px; }
  .carousel .carousel-inner button {
    font-size: 14px; }

  .tabs li h3 {
    font-size: 10px; }
  .tabs li .hexahedron {
    height: 40px;
    width: 70px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; }
    .tabs li .hexahedron span {
      color: #fff;
      font-size: 40px; }
  .tabs li .hexahedron::before {
    content: '';
    position: absolute;
    top: -19px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid;
    border-radius: 3px; }
  .tabs li .hexahedron::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid;
    border-radius: 3px; } }
@media screen and (min-width: 768px) {
  .descript {
    overflow-x: visible;
    white-space: nowrap; }

  .carousel .carousel-inner h1 {
    font-size: 5em; }
  .carousel .carousel-inner h2 {
    font-size: 3em; }
  .carousel .carousel-inner button {
    font-size: 1.5em; }

  .hexahedron {
    height: 80px;
    width: 140px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; }
    .hexahedron span {
      color: #fff;
      font-size: 80px; }

  .hexahedron::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 40px solid;
    border-radius: 3px; }

  .hexahedron::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 40px solid;
    border-radius: 3px; } }

/*# sourceMappingURL=style.css.map */
