@font-face {
	font-family: MrsEavesItalic;
	font-style: italic;
	src: url('../font/Mrs Eaves OT Roman.otf') format('opentype');
}
@font-face {
	font-family: SagoeWPNsemiBold;
	src: url('../font/SegoeWP-Semibold.ttf') format('truerype');
}
@font-face {
	font-family: SagoeWPNLight;
	src: url('../font/SegoeWP-Light.ttf') format('truerype');
}
html {
	margin: 0 auto;
}
body {
	margin: 0 auto;
}

header {
	background: url('../img/bg_header.jpg') no-repeat;
	margin: 0 auto;
	max-width: 1280px;
	height: 485px;
	padding-bottom: 50px;
	overflow: visible;
	.navbar-default {
		background: transparent;
		border: none;

	}
	.navbar-nav {
		margin-top: 40px;
	}
	#brand {
		font-family: MrsEavesItalic;
		font-style: italic;
		font-size: 8em;
		color: #b7bbbd;
		margin-top: 55px;
		margin-left: 0;
	}
	li {
		font-family: Arial;
		font-size: 1em;
		color: #fff;
	}

	.carousel {
		.carousel-indicators {
			bottom: -10%;
		}
		.carousel-inner {
				.item{
					img {
						margin-top: 0;
						margin-left: 10%;
					}
					h1 {
						font-family: SagoeWPNsemiBold;

						color: #fff;
						margin-top: 10%;
						margin-bottom: 0;
					}
					h2 {
						font-family: SagoeWPNLight;

						color: #fff;
						margin-top: 0;
					}
					button {
						font-family: SagoeWPNLight;

						font-weight: 200;
						color: #fff;
						background: #185e3d;
						border: 3px solid rgba(0, 0, 0, .5);
						border-radius: 5px;
						min-width: 140px;
						min-height: 40px;
					}
				}
			}


		.carousel-control{
			background: transparent;
			span {
				margin-top: 150px;
				border: 4px solid rgba(255, 255, 255, .7);
				border-radius: 50%;
				font-size: 1.5em;
				width: 40px;
				height: 40px;
				
			}
			.fa-caret-right{
				padding-top: 2px;
				padding-left: 13px;
				letter-spacing: 10px;
			}
			.fa-caret-left {
				padding-top: 1px;
				padding-left: 7px;
				letter-spacing: 10px;
			}
		}
	}
	
}

.tabs {
	margin-top: 50px;
	.tab-content {
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		.tablet {
			position: relative;
			height: 350px;
			margin-top: 50px;
			left: 150px;
			top: 0;
			img {
				position: absolute;
				left: 10%;
				top: 10%;
				z-index: 1;
			}
			img + img {
				left: 0;
				top: 0;
				z-index: 0;
				
			}
		}
		.text-pane {
			position: relative;
			left: 0;
			top: 0;
		}
	}
	.nav-tabs {
		padding: 0 2px 0 2px;
		border-bottom: none;
		.nav-tabs.active{
			margin-bottom: -5px;
			padding-top: 5px;
		}
		.nav-tabs.active a{
			border-bottom: 5px solid #fff;

		}
		
		li {
			a {
				padding: 0;
			}
			text-align: center;
			margin-bottom: -1px;
			.blue {
				background: #6598e6;
			}
			.blue.hexahedron::before {
				border-bottom-color: #6598e6;
			}
			.blue.hexahedron::after {
				border-top-color: #6598e6;
			}
			.yellow {
				background: #fdcf0a;
			}
			.yellow.hexahedron::before {
				border-bottom-color: #fdcf0a;
			}
			.yellow.hexahedron::after {
				border-top-color: #fdcf0a;
			}
			.green {
				background: #12b367;
			}
			.green.hexahedron::before {
				border-bottom-color: #12b367;
			}
			.green.hexahedron::after {
				border-top-color: #12b367;
			}
			.orange {
				background: #e67624;
			}
			.orange.hexahedron::before {
				border-bottom-color: #e67624;
			}
			.orange.hexahedron::after {
				border-top-color: #e67624;
			}



			h3 {
				text-align: center;

			}

		}
	}
}
.tab-pane {
	padding: 30px 50px 30px 50px;
}

.whychoose {
	padding-top: 50px;
	.browser{
		position: relative;
		height: 450px;
		img{
			position: absolute;
			left: 0;
			top: 0;
		}
		img + img {
			position: absolute;
			left: 18px;
			top: 70px;
		}
	}
	.descript {
		
		ul{

			list-style-position: inside;
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 1.5em;
			li {
				margin-top: .3em;
			}
			li::before {
				content: '\f058';
				font-family: FontAwesome;
				color: #e67624;
				font-size: 1em;
				margin-right: 10px;
			}
		}
	}

}

@media screen and (max-width: 1200px){
	.descript {

	}
	.carousel {
				.carousel-inner{
					h1 {
						font-size: 24px;
					}
					h2 {
						font-size: 14px;
					}
					button {
						font-size: 14px;
					}
				}
			}
	.tabs {
		li {
			h3 {
				font-size: 10px;
			}
			.hexahedron {
				height: 40px;
				width: 70px;
				position: relative;
				margin-top: 50px;
				margin-bottom: 50px;
				span {
					color: #fff;
					font-size: 40px;
				}

			}
			.hexahedron::before {
				content: '';
				position: absolute;
				top: -20px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-bottom: 20px solid;
			}
			.hexahedron::after {
				content: "";
				position: absolute;
				bottom: -20px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 20px solid;
			}
		}
	}
	
}

@media screen and (min-width: 768px){
			.descript {
				overflow-x: visible;
				white-space: nowrap;
			}
			.carousel {
				.carousel-inner{
					h1 {
						font-size: 5em;
					}
					h2 {
						font-size: 3em;
					}
					button {
						font-size: 1.5em;
					}
				}
			}
			.hexahedron {
				height: 80px;
				width: 140px;
				position: relative;
				margin-top: 50px;
				margin-bottom: 50px;
				span {
					color: #fff;
					font-size: 80px;
				}

			}
			.hexahedron::before {
				content: '';
				position: absolute;
				top: -39px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 70px solid transparent;
				border-right: 70px solid transparent;
				border-bottom: 40px solid;
			}
			.hexahedron::after {
				content: "";
				position: absolute;
				bottom: -39px;
				left: 0;
				width: 0;
				height: 0;
				border-left: 70px solid transparent;
				border-right: 70px solid transparent;
				border-top: 40px solid;

			}
}